<div class="p-5">
    <h2>Pregled Vasih usisivaca</h2>
    
    <div>
      <table class="table table-hover table-dark table-bordered">
        <caption>
          Tabela usisivaca
        </caption>
        <thead class="thead thead-dark">
          <tr>
            <th scope="col">Ime</th>
            <th scope="col">Status</th>
            <th scope="col">Dodato</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let vacuum of vacuums; let i = index" (click)="selectVacuum(vacuum)">
            <td class="text-info">{{ vacuum.name }}</td>
            <td class="table-fixed">
                <p [ngClass]="{'text-danger': vacuum.status === 'OFF', 'text-success': vacuum.status === 'ON', 'text-warning': vacuum.status === 'DISCHARGING', 'text-primary': vacuum.status === 'PROCESSING'}" class="p">
                   <b> {{ vacuum.status }} </b>
                </p>
            </td>
            <td class="text-light">{{ vacuum.dateAdded }}</td>
          </tr>
        </tbody>
      </table>
    </div>
    <div *ngIf="selectedVacuum" class="overlay" (click)="closePopup()"></div>
    <div *ngIf="selectedVacuum" class="popup">
        <div class="popup-content">
          <h4>{{ selectedVacuum.name }}</h4>
          <small>Currently: <small [ngClass]="{'text-danger': selectedVacuum.status === 'OFF', 'text-success': selectedVacuum.status === 'ON', 'text-warning': selectedVacuum.status === 'DISCHARGING'}" class="p">
            <b> {{ selectedVacuum.status }} </b>
         </small></small><br>
          <button class="btn btn-success" [ngClass]="{'disabled': selectedVacuumStatus === 'ON' || !(currentRoles.indexOf('vacuum_start') > -1)}" (click)="turnOnVacuum(selectedVacuum.id, selectedVacuum)">Turn On</button>
          <button class="btn btn-danger" [ngClass]="{'disabled': selectedVacuumStatus === 'OFF' || !(currentRoles.indexOf('vacuum_stop') > -1)}" (click)="turnOffVacuum(selectedVacuum.id, selectedVacuum)">Turn Off</button>
          <button class="btn btn-warning" [ngClass]="{'disabled': selectedVacuumStatus === 'DISCHARGING' || !(currentRoles.indexOf('vacuum_discharge') > -1)}" (click)="dischargeVacuum(selectedVacuum.id)">Discharge</button>
          <button class="btn btn-outline-primary">Schedule</button>
          <button class="btn btn-secondary" (click)="deactivateVacuum(selectedVacuum.id)">Deactivate</button>
        </div>
      </div>
    <br>
    <br>
  </div>